/* Font Settings
================================== */
#wrap > div .grid-pnl{
	font-size:0.9em;
}

/* Positioning
==================================*/
/* Grid-float-clear */
.grid-pnl:after{
	content:"";
	display:block;
	height:0;
	clear:both;
	visibility:hidden;
}

/* Grid Style
==================================*/
/* grid-pnl */
.grid-pnl {
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-o-user-select: none;
	user-select: none;
	-ms-user-select: none;
	-webkit-touch-callout: none;
}
.grid-pnl table th{
	padding:2px 3px 1px 0px;
}
.grid-pnl table td{
	padding:2px 3px 1px 1px;
}
.grid-pnl img{
	vertical-align:middle;
}
/* grid-header-pnl */
.grid-header-pnl{
	outline:medium none;
	position: relative;
	margin:0px;
	padding:0px;
	overflow-x:hidden;
	overflow-y:auto;
	background:#e7e9f1 url(./image/grid-bg.png) repeat-x 0 0;
	vertical-align:middle;
}
.grid-header-outer-pnl{
    position:relative; 
    margin:0px;
    padding:0px; 
    overflow-x:hidden;  
    overflow-y:auto;
}
.grid-header-pnl table{
	padding:0px 0px 0px 0px;
	margin:0px 0px 0px 0px;
	vertical-align:middle;
	table-layout:fixed;
}
.grid-header-pnl tr{
	height:1.65em;
}
.grid-header-pnl th{
	border-top:none;
	border-right:1px solid #b5b5b5;
	border-bottom:1px solid #b5b5b5;
	border-left:1px solid #ffffff;
	cursor:col-resize;
	vertical-align:middle;
	text-align:center;
}
.grid-header-pnl .grid-title{
	cursor:pointer;
	font-weight:normal;
	color:#001633;
	text-shadow:1px 1px 0 #f1f1f1;
	overflow:hidden;  
	white-space:nowrap;	
}
.grid-header-pnl span{
	margin:0;
	padding:0;
	background:transparent;
}
.grid-header-pnl input[type=text]{
	margin:0;
	padding:0;
	height:97.5%;
	width:97.5%;
	box-shadow:none;
	-moz-box-shadow:none;
	-webkit-box-shadow:none;
}
.grid-header-pnl input[type=checkbox]{
	margin:0;
	padding:0;
	background: transparent;
	width:15px !important;
	box-shadow:none;
	-moz-box-shadow:none;
	-webkit-box-shadow:none;
}
.grid-header-pnl input[type=radio]{
	margin:0;
	padding:0;
	background: transparent;
	width:15px !important;
	box-shadow:none;
	-moz-box-shadow:none;
	-webkit-box-shadow:none;
}
.grid-header-pnl select{
	margin:0;
	padding:0;
	width:97.5%;
	box-shadow:none;
	-moz-box-shadow:none;
	-webkit-box-shadow:none;
	color:#6D6D6D;
    cursor:pointer;
	font-weight:bold;
}
.grid-header-pnl select[disabled="disabled"]{
    color:#9ea5b1 ;
	border:1px solid #b2b2b2;
}
.grid-header-click select[disabled="disabled"]{
    color:#d0d6df !important;
	border:1px solid #bcbcbc;
}
.grid-header-pnl input[type=button]{
	margin:0;
	padding:0;
}
.grid-header-pnl textarea{
	margin:0;
	padding:0;
	width:97.5%;
	height:97.5%;
}
.grid-header-pnl label{
	margin:0em 1em 0em 0.2em;
	padding:0;
	background:transparent;
	width:97.5%;
	height:97.5%;
}
/* grid-body-pnl */
.grid-body-pnl{
	position:relative;
	margin:0px;
	padding:0px;
	overflow:auto;
	text-align:left;
}
.grid-body-pnl table{
	table-layout:fixed;
	margin:0;
	border-collapse:collapse;
}
.grid-body-pnl span{
	margin:0;
	padding:0;
	background:transparent;
	overflow:hidden;  
	white-space:nowrap;
	vertical-align:middle;
}
/* 자동 개행 */
.grid-body-pnl table.grid-normal-td td, .grid-body-pnl table.grid-normal-td span{
	white-space: normal !important;
}
.grid-body-pnl input[type=text]{
	margin:0;
	padding:0;
	background:transparent;
	height:90%;
	width:97.5%;
	box-shadow:none;
	-moz-box-shadow:none;
	-webkit-box-shadow:none;
}
.grid-body-pnl input[type=checkbox]{
	margin:0;
	padding:0;
	background:transparent;
	width:15px !important;
	box-shadow:none;
	-moz-box-shadow:none;
	-webkit-box-shadow:none;
}
.grid-body-pnl input[type=radio]{
	margin:0;
	padding:0;
	background: transparent;
	width:15px !important;
	box-shadow:none;
	-moz-box-shadow:none;
	-webkit-box-shadow:none;
}
.grid-body-pnl select{
	margin:0;
	padding:0;
	background:transparent;
	width:97.5%;
	box-shadow:none;
	-moz-box-shadow:none;
	-webkit-box-shadow:none;
}
.grid-body-pnl select[disabled="disabled"]{
    color:#9ea5b1;
	border:1px solid #b2b2b2;
}
.grid-body-click select[disabled="disabled"]{
    color:#d0d6df !important;
	border:1px solid #bcbcbc;
}
.grid-body-pnl input[type=button]{
	margin: 0;
	padding: 0;
	color:#00728f;
	background:#eeeded;
	background:-webkit-linear-gradient(top, #ffffff 0%, #ebebeb 100%); 
	background:-moz-linear-gradient(top, #ffffff 0%, #ebebeb 100%); 
	background:-ms-linear-gradient(top, #ffffff 0%, #ebebeb 100%);  
	background:-o-linear-gradient(top, #ffffff 0%, #ebebeb 100%); 
	background:linear-gradient(to bottom, #ffffff 0%, #ebebeb 100%);
	border:1px solid #00a0af;
	text-shadow:none;
	height:1.6em;
	padding:0 0.2em;
	cursor:pointer;
	font-weight:bold;
	-moz-box-shadow:none;
	-webkit-box-shadow:none;
    box-shadow:none;
}
.grid-body-pnl input[type=button]:hover{
	color:#6e6e6e;
	background:#eeeded;
    background:-webkit-linear-gradient(top, #ffffff 0%, #ebebeb 100%); 
	background:-moz-linear-gradient(top, #ffffff 0%, #ebebeb 100%); 
	background:-ms-linear-gradient(top, #ffffff 0%, #ebebeb 100%);  
	background:-o-linear-gradient(top, #ffffff 0%, #ebebeb 100%); 
	background:linear-gradient(to bottom, #ffffff 0%, #ebebeb 100%);
	border:solid 1px #c8c8c8;
	-moz-border-radius:6px;
	-webkit-border-radius:6px;
    border-radius:6px;
}
.grid-body-pnl input[type=button][disabled="disabled"]{
    background:#dddddd;
	color:#a0a0a0;
	border:1px solid #b3b3b3;
	-moz-box-shadow: none;
    -webkit-box-shadow: none;
    box-shadow:none;
	text-shadow:none;
	-moz-opacity:.7;
    opacity:.7;
}
.grid-body-pnl input[type=button][disabled="disabled"]:hover{
    background:#dddddd;
	color:#a0a0a0;
	border:1px solid #b3b3b3;
	text-shadow:none;
	-moz-border-radius:0;
	-webkit-border-radius:0;
    border-radius:0;
}
.grid-body-pnl textarea{
	margin:0;
	padding:0;
	background: transparent;
	width:97.5%;
	height:80%;
	box-shadow:none;
	-moz-box-shadow:none;
	-webkit-box-shadow:none;
}
.grid-body-pnl label{
	margin:0em 1em 0em 0.2em;
	padding:0;
	background: transparent;
	width:97.5%;
	height:97.5%;
}
.grid-body-pnl tr{
	background:#fafafa;
	color:#303030;
	text-align:left;
	height:1.65em;
}
.grid-body-pnl td{
	font-weight:normal;
	overflow:hidden;
	border-left:1px dotted transparent;
	border-bottom:1px dotted #DDDDDD;
	border-right:1px dotted #DDDDDD;
	overflow:hidden;
	white-space:nowrap;
	line-height:1.2em;
}
.grid-body-pnl .borderhdn{
	border:none !important;
}
.grid-body-odd{
	background-color:#ffffff !important;
}
.grid-body-hover{
	background-color:#feeed3 !important;
}
.grid-body-click{
	background-color:#dce4ee !important;
}
.grid-body-Drag{
	background-color:#b6dcd2 !important;
	color:#ffffff;
}
.grid-editable-td{
	background-color:#f2f6f6;
}
/* grid-bottom-pnl */
.grid-bottom-pnl{
	height:1.9em;
	vertical-align:middle !important;
	border-top:1px solid #b5b5b5;
	position:relative;
	background:#e1e4ee;
}
.grid-left-bottom-pnl{
	height:1.9em;
	vertical-align:middle !important;
	border-top:1px solid #b5b5b5;
	background:#e1e4ee;
}
.grid-right-bottom-pnl{
	height:1.9em;
	vertical-align:middle !important;
	border-top:1px solid #b5b5b5;
	background: #e1e4ee;
}
.grid-buttons-pnl{
	height:2.2em;
	border-bottom:1px solid #b5b5b5;
	position:relative;
	background:#ebebeb;
}
.grid-outer-buttons-pnl{
	background:#ebebeb;
	overflow:hidden;
	width :100%;
}
.grid-bottom-pnl button.grid-icon{
	height:15px;
	width:15px;
	overflow:hidden;
	background-repeat: no-repeat;
	background-image:url(./image/icons.png);
	background-color:transparent;
	border:none;
	vertical-align:middle;
}	
.grid-bottom-pnl button.seek-first{
	background-position:-120px -104px;	
}
.grid-bottom-pnl button.seek-prev{
	background-position:-135px -104px;	
}
.grid-bottom-pnl button.seek-next{
	background-position:-150px -104px;	
}
.grid-bottom-pnl button.seek-end{
	background-position:-165px -104px;	
}
.grid-page-info{
	color:#303030;
	vertical-align:middle;
	top:6px;
	left:10px;
	float:left;
}
/* grid-total-pnl */
.grid-total-pnl{
    position:relative; 
    outline:medium none;
    margin:0px; 
    padding:0px; 
    overflow:hidden;
    text-align:left;
    background: #f6f3d1;
}
.grid-total-outer-pnl{
    position:relative; 
    background:transparent;
    margin:0px;
    padding:0px; 
    overflow-x:auto;  
    overflow-y:hidden;     
}
.grid-total-pnl table{
    table-layout:fixed;
	border-collapse:collapse;
}
.grid-total-pnl tr{
    color:#16556c;
	text-shadow:1px 1px 0 #ffffff;
	text-align:left; 
	background:#f6f3d1 !important;
	height:1.65em;
}
.grid-total-pnl td{
    font-weight:bold; 
    overflow:hidden; 
    padding:0px 2px 0px 2px; 
	border-top:1px solid #B5B5B5;
	border-right:1px solid #c6c6c6;
	border-left:1px solid #ffffff;
	overflow:hidden;
	white-space:nowrap;
}
.grid-total-pnl span{
	margin:0;
	padding:0;
	background:transparent;
}
.grid-total-pnl input[type=text]{
	margin:0;
	padding:0;
	height:97.5%;
	width:97.5%;
	box-shadow:none;
	-moz-box-shadow:none;
	-webkit-box-shadow:none;
	border:1px solid #9CA4C5;
}
.grid-total-pnl input[type=checkbox]{
	margin:0;
	padding:0;
	background: transparent;
	width:15px !important;
	box-shadow:none;
	-moz-box-shadow:none;
	-webkit-box-shadow:none;
}
.grid-total-pnl input[type=radio]{
	margin:0;
	padding:0;
	background: transparent;
	width:15px !important;
	box-shadow:none;
	-moz-box-shadow:none;
	-webkit-box-shadow:none;
}
.grid-total-pnl select{
	margin:0;
	padding:0;
	width:97.5%;
	box-shadow:none;
	-moz-box-shadow:none;
	-webkit-box-shadow:none;
	border:1px solid #9CA4C5;
}
.grid-total-pnl select[disabled="disabled"]{
    color:#9ea5b1 ;
	border:1px solid #b2b2b2;
}
.grid-total-click select[disabled="disabled"]{
    color:#d0d6df !important;
	border:1px solid #bcbcbc;
}
.grid-total-pnl input[type=button]{
	margin:0;
	padding:0;
	box-shadow:none;
	-moz-box-shadow:none;
	-webkit-box-shadow:none;
}
.grid-total-pnl textarea{
	margin:0;
	padding:0;
	width:97.5%;
	height:97.5%;
	box-shadow:none;
	-moz-box-shadow:none;
	-webkit-box-shadow:none;
	border:1px solid #9CA4C5;	
}
.grid-total-pnl label{
	margin:0em 1em 0em 0.2em;
	padding:0;
	background: transparent;
	width:97.5%;
	height:97.5%;
}
.grid-sub-sum{
	background:scroll 50% bottom #F3E8E6;
	color:#424242;
	text-align:center;	
}
.grid-sub-sum td{
	font-weight: bold;
	color:#8d5945;
	text-shadow:1px 1px 0 #ffffff;
	background-color:#f4e4d5;
	text-align:center;
	overflow:hidden;
	padding:0px 2px 0px 2px;	
}
.grid-nextselect{
	text-align:center;
	position:absolute;
	top:1px;
	right:46px;
}
.ui-pg-selbox{
	margin-left:5px;
	width:7em;
}
.grid-nextbutton{
	text-align:center;
	position:absolute;
	top:2px;
	right:10px;
}
.grid-next-btn{
	border:none;
	background:url(./image/grid-next-bt.png) no-repeat scroll 0 0 transparent;
	width:36px;
	height:18px;
	vertical-align:middle;
}
.grid-next-btn:hover{
	background-position:-36px 0;	
}
.grid-next-btn-disabled{
	border:none;
	background:url(./image/grid-next-bt.png) no-repeat scroll -72px 0 transparent;
	width:36px;
	height:18px;
	vertical-align:middle;
}
.grid-totalcnt{
    position:absolute;
	right:10px;
	text-align:center;
	top:6px;
	color:#303030;
}
.grid-selpage{
	text-align:center;
	position:absolute;
	top:3px;
	left:5px;
}
.grid-page-num{
	color:#414141;
	cursor:pointer;
	padding:0 3px;
    vertical-align:middle;
}
.grid-page-num:hover{
    color:#5261AC;
}
.grid-select-page-num{
	color:#5261AC;
	font-weight:bold;
	cursor:pointer;
	padding:0 3px;
    vertical-align:middle;
}
.grid-body-pnl .grid-multi-check{
	margin:0;
	padding:0;
	background:transparent;
	width:15px !important;	
}
.grid-buttons-pnl ul{
	padding-top:0.5em;	
	padding-bottom:0.5em;
}
.grid-buttons-pnl li{
	cursor:pointer;
	display:inline;
	background:#ebebeb;
	margin-left : 0.7em;
	padding-left:23px;
	padding-top:3px;
	padding-bottom:3px;
	font-weight:bold;
	color:#585858;
	text-shadow:1px 1px 0px #ffffff;
	vertical-align:middle;
}
/* icons */
.grid-buttons-pnl .grid-buttons-add{
    background:url(./image/grid-icons.png) no-repeat scroll 0 0 transparent;
	border-right:1px solid #B5B5B5;
	padding-right:10px;	
}	
.grid-buttons-add:hover{
	color:#515fac;
	background-position:0 -35px;
}
.grid-buttons-pnl .grid-buttons-add.state-disabled{
	color:#a0a0a0 !important;
	background-position:0 -420px;
	cursor:none;
}
.grid-buttons-pnl .grid-buttons-delete{
    background:url(./image/grid-icons.png) no-repeat scroll 0 -70px transparent;
	border-right:1px solid #B5B5B5;
	padding-right:10px;
}
.grid-buttons-delete:hover{
	color:#515fac;
	background-position:0 -105px;
}
.grid-buttons-pnl .grid-buttons-delete.state-disabled{
	color:#a0a0a0 !important;
	background-position:0 -455px;
	cursor:none;
}
.grid-buttons-pnl .grid-buttons-autofit{
    background:url(./image/grid-icons.png) no-repeat scroll 0 -140px transparent;
	border-right:1px solid #B5B5B5;
	padding-right:10px;
}	
.grid-buttons-autofit:hover{
	color:#515fac;
	background-position:0 -175px;
}

.grid-buttons-pnl .grid-buttons-custom{
    background:url(./image/grid-icons.png) no-repeat scroll 0 -140px transparent;
	border-right:1px solid #B5B5B5;
	padding-right:10px;
}
.grid-buttons-custom:hover{
	color:#515fac;
	background-position:0 -175px;
}
.grid-buttons-pnl .grid-buttons-custom.state-disabled{
	color:#a0a0a0 !important;
	background-position:0 -490px;
	cursor:none;
}
.grid-buttons-pnl .grid-buttons-excel{
    background:url(./image/grid-icons.png) no-repeat scroll 0 -210px transparent;
	border-right:1px solid #B5B5B5;
	padding-right:10px;
}
.grid-buttons-excel:hover{
	color:#515fac;
	background-position:0 -245px;
}
.grid-buttons-pnl .grid-buttons-excel.state-disabled{
	color:#a0a0a0 !important;
	background-position:0 -525px;
	cursor : none;
}
.grid-buttons-pnl .grid-buttons-filter{
    background:url(./image/grid-icons.png) no-repeat scroll 0 -280px transparent;
	border-right:1px solid #B5B5B5;
	padding-right:10px;
}
.grid-buttons-filter:hover{
	color:#515fac;
	background-position:0 -315px;
}
.grid-buttons-pnl .grid-buttons-filter.state-disabled{
	color:#a0a0a0 !important;
	background-position:0 -560px;
	cursor:none;
}
.grid-buttons-pnl .grid-buttons-removeall{
	background:url(./image/grid-icons.png) no-repeat scroll 0 -350px transparent;
	border-right:1px solid #B5B5B5;
	padding-right:10px;
}
.grid-buttons-pnl .grid-buttons-removeall:hover{
	color:#515fac;
	background-position:0 -385px;
}
.grid-buttons-pnl .grid-buttons-removeall.state-disabled{
	color:#a0a0a0 !important;
	background-position:0 -595px;
	cursor : none;
}

/* grid-unit */
.grid-unit{
	float:right;
	margin-right: 8px !important;
	font-weight:normal !important;
	color:#303030 !important;
	text-shadow: none !important;
}
/* a.link */
.grid-body-pnl a, .grid-header-pnl a, .grid-total-pnl a{
	text-decoration:underline;
}
.grid-extra-cell{
	border:0 !important;
	padding:0 !important;
}
/* state */
.grid-header-pnl .state-required /* 필수입력 */{
	font-weight:bold;
	color:#cf0c0c ;
	border:none !important;
}
/* errField */
.grid-err-td{
	font-weight:bold;
	color:#550f11 !important;
	padding-left:2px;
	background:#ffffff url(./image/check1.png) repeat-x 0 bottom !important;
}
.grid-body-state-err{
	background:#F25057;
	color:#ffffff !important;
}
/* grid-graph-range */
.grid-graph-range{
    position:relative;
	top:0;
	left:0;
	width:100%;
	height:1.3em;
	background: #e2e2e2;
}
.grid-graph-mark-range{
    width:0%;
	height:1.3em;
	background:#66d2e0;
	background:-webkit-linear-gradient(left, #89dfea 0%, #19abbc 100%); 
	background:-moz-linear-gradient(left, #89dfea 0%, #19abbc 100%); 
	background:-ms-linear-gradient(left, #89dfea 0%, #19abbc 100%);  
	background:-o-linear-gradient(left, #89dfea 0%, #19abbc 100%); 
	background:linear-gradient(to right, #89dfea 0%, #19abbc 100%);
}
/* grid-combo-list */
.grid-combo-list{
    border: 1px solid #787878; 
    background-color: #ffffff;
    font-size: 1.2em; 
    cursor: default;
    overflow-x: hidden;
    overflow-y: auto;
    max-height: 65px;
}
.grid-combo-list div.combo-selected{
    background-color:#3366cc;
    color:#ffffff;
} 
.combobox-input{
    background: url(./image/combobox-icon.png) no-repeat right 0 !important;
} 
.combobox-input input[type=text]::-ms-clear{
    display: none;
}
/* 그루핑 추가 */
tr.grouping-title{
	background-color: #F5EEEE;
	-moz-user-select: none;
  	-webkit-user-select: none;
  	-ms-user-select: none;
  	cursor: pointer;
}
tr.grouping-title td{
	vertical-align: middle;
}
tr.grouping-title em{
	font-style: normal;
	font-weight: bold;
	line-height: 1.65em;
}
tr.grouping-title span.plus{
	height: 100%;
	width: 25px;
	background: url(./image/treeview-plus.png);
	float: left;
}
tr.grouping-title span.minus{
	height: 100%;
	width: 25px;
	background: url(./image/treeview-minus.png);
	float: left;
}
tr.grouping-title.grouping-hover{
	background-color: #E7CECE;
}
tr.grouping-title.grouping-summary{
	background-color: #CCD0CE !important;
	-moz-user-select: none;
  	-webkit-user-select: none;
  	-ms-user-select: none;
  	cursor: default;
}
tr.grouping-title.grouping-summary td{
	font-weight: bold;
}
/* grid-mobile */
.grid-mobile-scroll{
	background-image:url(./image/grid-scroll-icons.png);
	width:31px;
	height:33px;
	top:-1px;
}
.grid-mobile-scrollleft{
	background-position:0 0;	
	position:absolute;
	left:-1px;
	border:1px solid #c6d641;
}
.grid-mobile-scrollleft:hover{
	background-position:-62px 0px;	
	position:absolute;
	border:1px solid #c2c2c2;
}
.grid-mobile-scrollleft[disabled="disabled"]{
	background-position:-124px 0px;	
	position:absolute;
	border:1px solid #909090;
}
.grid-mobile-scrollright{
	background-position:-31px 0px;	
	position:absolute;
	border:1px solid #c6d641;
	left: 29px;
}
.grid-mobile-scrollright:hover{
	background-position:-93px 0px;	
	position:absolute;
	border:1px solid #c2c2c2;
}
.grid-mobile-scrollright[disabled=true]{
	background-position:-155px 0px;	
	position:absolute;
	border:1px solid #909090;
}
.grid-mobile-scrollup{
	background-position:0px -33px;	
	position:absolute;
	border:1px solid #c6d641;
	right:29px;
}
.grid-mobile-scrollup:hover{
	background-position:-62px -33px;	
	position:absolute;
	border:1px solid #c2c2c2;
}
.grid-mobile-scrollup[disabled=true]{
	background-position:-124px -33px;	
	position:absolute;
	border:1px solid #909090;
}
.grid-mobile-scrolldown{
	background-position:-31px -33px;	
	position:absolute;
	border:1px solid #c6d641;
	right:-1px;
}
.grid-mobile-scrolldown:hover{
	background-position:-93px -33px;	
	position:absolute;
	border:1px solid #c2c2c2;
}
.grid-mobile-scrolldown[disabled=true]{
	background-position:-155px -33px;	
	position:absolute;
	border:1px solid #909090;
}
.colMenu{
	float:right;
	width:1px;	
	z-index:1;
	overflow:hidden;  
	white-space:nowrap;	
	cursor:pointer;
	border-left:1px solid #c6d641;
}
.grid-column-sub-menu{
	outline:medium none;
	z-index:1003;	
	background:#e7e9f1 url(./image/grid-bg.png) repeat-x 0 0;
	border-top:none;
	border-right:1px solid #b5b5b5;
	border-bottom:1px solid #b5b5b5;
	border-left:1px solid #ffffff;
	padding-top : 5px;
	padding-left : 5px;
	padding-right : 5px;
	height : 15px;
	text-align:center;
	vertical-align:middle;
	color:#00224f;
	cursor:pointer;
}
.grid-column-sub-menu:hover{
	outline:medium none;
	z-index:1003;
	background:#eeeded;
	border-top:none;
	border-right:1px solid #b5b5b5;
	border-bottom:1px solid #b5b5b5;
	border-left:1px solid #ffffff;
	color:#aa6e6e;
}
.grid-column-menu{
	z-index:1003;
	outline:medium none;
	background:#e7e9f1 url(./image/grid-bg.png) repeat-x 0 0;
	border-top:none;
	border-right:1px solid #b5b5b5;
	border-bottom:1px solid #b5b5b5;
	border-left:1px solid #ffffff;
}
.grid-column-filter-menu{
	z-index:1003;
	outline:medium none;
	background:#e7e9f1 url(./image/grid-bg.png) repeat-x 0 0;
	border-top:none;
	border-right:1px solid #b5b5b5;
	border-bottom:1px solid #b5b5b5;
	border-left:1px solid #ffffff;
	padding-top : 5px;
	padding-left : 5px;
	padding-right : 5px;
	height : 47px;
	text-align:center;
	vertical-align:middle;
	color:#00224f;
	cursor:pointer;
}
.grid-selection-pnl{
	position:absolute;
	z-index:100000; 
	width:0px; 
	height:0px;
	top:0px; 
	background-color:#eee4ee !important;
	-moz-opacity:.5;
	opacity:.5;
}
.grid-selection-td {
	background-color:#dce4ee !important;
}

.grid-buttons-pnl .grid-buttons-search{
	background:url(./image/grid-icons.png) no-repeat scroll 0 -140px transparent;
	border-right:1px solid #B5B5B5;
	padding-right:10px;
}
.grid-buttons-pnl .grid-buttons-search:hover{
	color:#515fac;
	background-position:0 -175px;
}
.grid-buttons-pnl .grid-buttons-search.state-disabled{
	color:#a0a0a0 !important;
	background-position:0 -490px;
	cursor : none;
}

.search-condition {
	overflow:hidden;
	padding:10px 0;
}
.search-condition button#search {
	border : 1px solid #662222 !important;
	font-size :12px !important;
	color : #000000 !important;
	vertical-align:middle !important;
	overflow:auto !important;
	width:40px !important;
	margin : 0px 5px 0px 5px;
}
.search-condition button {
	border : 1px solid #662222 !important;
	font-size :12px !important;
	color : #000000 !important;
	vertical-align:middle !important;
	overflow:auto !important;
	margin-left:5px !important;
	width:20px;
}
.grid-buttons-pnl .grid-buttons-sort{
	background:url(./image/grid-icons.png) no-repeat scroll 0 -140px transparent;
	border-right:1px solid #B5B5B5;
	padding-right:10px;
}
.grid-buttons-pnl .grid-buttons-sort:hover{
	color:#515fac;
	background-position:0 -175px;
}
.grid-buttons-pnl .grid-buttons-sort.state-disabled{
	color:#a0a0a0 !important;
	background-position:0 -490px;
	cursor : none;
}
.grid-column-align-menu{
	outline:medium none;
	background:#e7e9f1 url(./image/grid-bg.png) repeat-x 0 0;
	border-top:none;
	border-right:1px solid #b5b5b5;
	border-bottom:1px solid #b5b5b5;
	border-left:1px solid #ffffff;
	padding-top : 5px;
	padding-left : 5px;
	padding-right : 5px;
	height : 30px;
	text-align:center;
	vertical-align:middle;
	color:#00224f;
	cursor:pointer;
}
