<!DOCTYPE html>
<html>
    <head> 
        <meta charset="utf-8"> 
        <title>조회조건 컴포넌트 작성</title>  
<script type="module">
import {LitElement, html} from '../../../node_modules/lit-element/lit-element.js'
import '../../../dev/components/litGrid.js';
import '../../../dev/components/buttonSet.js';
import '../../../dev/components/searchTable.js';
class MyElement extends LitElement {
    static get properties() {
        return {
          name: {type: String},
          count: {type: Number},
          data: {type:Object, reflect: true},
          data2: {type:Object, reflect: true},
          array:{type:Array, reflect: true},
        };
    }
    attributeChangedCallback(name, oldVal, newVal) {
      // console.log('attribute change: ', name, newVal);
      super.attributeChangedCallback(name, oldVal, newVal);
    }
    updated(changedProperties) {
      // console.log(changedProperties)
    }

    constructor() {
        super();
        this.data = [{"first_name":"Brendin","last_name":"Hegdonne","email":"bhegdonne0@cafepress.com","gender":"Male","ip_address":"142.101.100.170"},
                    {"first_name":"Bailie","last_name":"Renhard","email":"brenhard1@vimeo.com","gender":"Male","ip_address":"18.121.110.122"},
                    {"first_name":"Amandy","last_name":"Blair","email":"ablair2@newyorker.com","gender":"Female","ip_address":"230.214.198.165"},
                    {"first_name":"Odelia","last_name":"Mompesson","email":"omompesson3@dot.gov","gender":"Female","ip_address":"147.45.68.95"},
                    {"first_name":"Kurt","last_name":"Waud","email":"kwaud4@blogspot.com","gender":"Male","ip_address":"99.250.245.64"},
                    {"first_name":"Hazel","last_name":"Courtney","email":"hcourtney5@pagesperso-orange.fr","gender":"Male","ip_address":"21.231.159.228"},
                    {"first_name":"Jeri","last_name":"Letcher","email":"jletcher6@elpais.com","gender":"Female","ip_address":"172.117.53.50"},
                    {"first_name":"Pavlov","last_name":"Eydel","email":"peydel7@imgur.com","gender":"Male","ip_address":"155.47.16.22"},
                    {"first_name":"Spike","last_name":"Cregan","email":"scregan8@baidu.com","gender":"Male","ip_address":"58.217.162.121"},
                    {"first_name":"Liliane","last_name":"O'Corrane","email":"locorrane9@guardian.co.uk","gender":"Female","ip_address":"94.38.74.50"}];

        this.data2 = [{"chkYn":"1","Column1":"홍길동", "Column2":"19830101", "Column3":"회사원", "Column4":"100"},
                      {"chkYn":"2","Column1":"김길동", "Column2":"19800101", "Column3":"학생", "Column4":"20000"},
                      {"chkYn":"1","Column1":"박길동", "Column2":"19900101", "Column3":"회사원", "Column4":"50"},
                      {"chkYn":"1","Column1":"한길동", "Column2":"20011113", "Column3":"학생"  , "Column4":"300"}];
        

        this.orgData = this.data2
        this.buttonSet01 = {
          label : "행추가",
          button01Click:this.buttonAddRow
        }
        this.buttonSet02 = {
          label : "행삭제",
          button02Click:this.buttonDelRow
        }
        this.buttonSet03 = {
          label : "필터",
          button01Click:this.buttonFilter
        }
        this.buttonSet04 = {
          label : "필터해제",
          button02Click:this.buttonReset
        }
  }
  buttonAddRow(event,parentData){
    let data = parentData.data
    data.push({"first_name":"Bailie","last_name":"Renhard","email":"brenhard1@vimeo.com","gender":"Male","ip_address":"18.121.110.122"});
    parentData.data = [...data];
  }
  buttonDelRow(event,parentData){
    let data = parentData.data;
    data.pop();
    parentData.data = [...data];
  }
  buttonFilter(event,parentData){
    let data = parentData.data2;
    data = data.filter( element=>{
      if(element.Column3 == "회사원"){
        return true;
      }
    });
    parentData.data2 = [...data];
  }
  buttonReset(event,parentData){
    parentData.data2 = [...parentData.orgData];
  }
  setData () {
    //setObject
    this.data[0]["first_name"]+=1;
    this.data = [...this.data];

    this.data2[0]["Column1"]+=1;
    this.data2 = [...this.data2];

    //setArray
    this.array = [...this.array, 1]
  }  
  render() {
  return html`
  <link rel="stylesheet" href="../../css/default/common-4.x.css" type="text/css">
  <header>
    <div class="title">
        <h3>컴포넌트를 이용한 화면 개발</h1>
    </div>
    <search-table>
      <input value="0" name="rdoUseYn" id="rdoUseYn0">
    </search-table>
  </header>
  <main id="content">
    <section id="grid00">
      <button-set 
        label="그리드 행추가 / 행삭제"
        .button01="${this.buttonSet01}" 
        .button02="${this.buttonSet02}" 
        .parentWindow="${this}"
      >
      </button-set>
      <lit-grid
        .bindRef="${this.data}"
        flag='no-footer'
      />
    </section>
    <section id="grid01">
      <button-set
        label="그리드 데이터 필터링"
        .button01="${this.buttonSet03}" 
        .button02="${this.buttonSet04}" 
        .parentWindow="${this}"
      ></button-set>
      <lit-grid
        .bindRef="${this.data2}"
      />
    </section>
  </main>
    `;
  }
}
customElements.define('my-element', MyElement);
// 
</script>
    </head> 
    <body>
      <my-element />
    </body>
</html>
