<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script type="module">
        import {
            LitElement,
            html,
            css
        } from '../../../node_modules/lit-element/lit-element.js'

        class MyElement extends LitElement {
            static get properties() {
                return {
                };
            }
            constructor() {
                super();
            }

            static get styles() {
                return css ``;
            }

            render() {
                return html `<div>testasdasd</div>`;
            }
        }

        customElements.define('test-element', MyElement);
    </script>
</head>
55<body>
    <test-element />
</body>
</html>