<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script type="module">
        import {LitElement,html,css} from '../../../node_modules/lit-element/lit-element.js'
        import {classMap} from '../../../node_modules/lit-html/directives/class-map.js';
        import {styleMap} from '../../../node_modules/lit-html/directives/style-map.js';
        import "../ramWidget/tab/ramTab.js"
        import "../ramWidget/search/ramSearch.js"
        import "../ramWidget/ramCommon/ramCommon.js"
        import "../ramWidget/ramWidgetSample.js"
        import "../ramWidget/sample.js"

        import "../ramWidget/ramWidgetDitail/ramInputDitail.js"

        class MyElement extends LitElement {
            tabName=['1,2,3'];
            static get properties() {
                return {
                    componentList:{type:Array},
                    componentIsClicked:{type:Object},
                    compunentEventSet:{type:Object},
                    componentNumber:{}
                };
            }
            constructor() {
                super();
                this.componentList=[
                    'ram-input',
                    'ram-select',
                    'ram-tab',
                    'ram-button',
                    'ram-search',
                ]
                this.componentIsClicked={};
                this.componentList.forEach((v,i)=>this.componentIsClicked[v]=i==0?true:false);
                this.compunentEventSet={
                    click:this.test
                }
                this.componentNumber={};
                
            }

            static get styles() {
                return css `
                div:not(.block){
                    display:inline-block;
                }

                .ram-widget-background{
                    width:100%;
                    background:#efefef;
                    text-align: center;
                }

                .ram-container{
                    margin-top: 220px;
                    margin-bottom: 120px;
                }
                
                .ram-widget-left,.ram-widget-right{
                    float:left;
                    width:750px;
                }
                
                .ram-widget-right{
                    width: 750px;
                    height: 430px;
                    background: white;
                    border: 1px solid rgb(206, 206, 206);
                    margin: 38px 70px;
                    overflow:hidden;
                }

                .ram-widget-right *{
                    margin:0 auto;
                }
                .ram-widget-frame{
                    height: 430px;
                    width: 3750px;
                    transition:0.7s;
                    margin-left:0px;
                    transition: all 0.7s cubic-bezier(0.32, 0.01, 0.35, 1.3) 0s;
                }
                .ram-widget-ditail{
                    height: 430px;
                    width: 750px;
                    float: left;
                    align-items: center;
                    display: flex !important;
                    box-sizing: border-box;
                }

                .ram-widget-container{
                    margin-top: 55px;
                }

                :host h1{
                    color: rgb(14, 14, 14);
                    margin: 30px 0px 0px;
                    font-size: 6.4em;
                    font-family: Staatliches;
                    -webkit-user-select: none; 
                    background: linear-gradient(to right, #12c2e9, #c471ed, #f64f59);
                    -webkit-background-clip: text;
                    -webkit-text-fill-color: transparent; 
                    transition: 0.7s;
                    display:inline-block;
                    background-size:200%;
                }

                :host h1:hover{
                    background-position-x: 100%;
                }
                :host h6{
                    display:inline-block;
                    margin:0px;
                    font-size:1.6em;
                    -webkit-user-select: none; 
                    background: linear-gradient(to right, #12c2e9, #c471ed, #f64f59);
                    background-size:150%;
                    opacity:0.7;
                    -webkit-background-clip: text;
                    -webkit-text-fill-color: transparent; 
                }

                :host input{
                    border: 1px solid #d6d6d6;
                    border-radius: 5px;
                    height: 23px;
                    width: 81%;
                }

                .hide{
                    display:none;
                }

                `;
            }

            test(event,main,target){
                console.log(main.componentNumber[target.widgetNm])
                Object.keys(main.componentIsClicked).forEach(v=>{
                    main.componentIsClicked[v] = v==target.widgetNm?true:false;
                })

                main.styles ={
                    marginLeft:-750*main.componentNumber[target.widgetNm] +'px',
                }
                main.requestUpdate();
            }

            render() {                
                return html` 
                <div class='ram-widget-background'>
                    <div class='block'><a href='../../index.html'>메인메뉴로 돌아가기 임시</a></div>
                    <div class='ram-container'>
                        <div class='ram-widget-left'>
                            <h1>ram-widget-test</h1>
                            <div class='block'>
                                <h6>select Widget</h6>
                            </div>
                            <div class='ram-widget-container'>
                                ${this.componentList.map((com,i)=>{
                                    this.componentNumber[com] = i;
                                    return html`
                                    <ram-widget-title-element 
                                    widgetNm=${com} 
                                    .eventSet=${this.compunentEventSet} 
                                    .parentCom="${this}"
                                    ?isClicked=${this.componentIsClicked[com]}
                                    ></ram-widget-title-element>`
                                })}
                            </div>
                        </div>
                        <div class='ram-widget-right'>
                            <div class='ram-widget-frame'  style='${styleMap(this.styles)}'>
                                <div class='ram-widget-ditail'>
                                    <ram-input-datail ></ram-input-datail>
                                </div>    
                                <div class='ram-widget-ditail'>
                                    <ram-select .selectObj=${{}}></ram-select>
                                </div>    
                                <div class='ram-widget-ditail'>
                                    <ram-tab .tabName="${this.tabName}" >
                                        ${this.tabName.map(data=>{ return html`<span slot =${data}>${data}</span>` })}
                                    </ram-tab></div>
                                <div class='ram-widget-ditail'>
                                    <ram-button></ram-button>
                                </div>    
                                <div class='ram-widget-ditail'>
                                    <ram-search></ram-search>
                                </div>    
                            </div>
                        </div>
                    </div>
                </div>`;
            }
        }
        customElements.define('ram-widget-page', MyElement);
    </script>
</head>

<body>
    <ram-widget-page />

</body>

<style>
    @import url('https://fonts.googleapis.com/css2?family=Staatliches&family=Pirata+One&family=Do+Hyeon&family=Noto+Sans+KR:wght@100;300;400;500;700;900&display=swap');
</style>

</html>