<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script type="module">
        import {LitElement,html,css} from '../../../node_modules/lit-element/lit-element.js'
        import "../ramWidget/tab/ramTab.js"
        import "../ramWidget/ramWidgetSample.js"

        class MyElement extends LitElement {
            tabName=[1,2,3,4,5,6];
            static get properties() {
                return {
                    componentList:{type:Array},
                };
            }
            constructor() {
                super();
                this.componentList=[
                    'ram-input',
                    'ram-select',
                    'ram-tab',
                    'ram-button',
                    'ram-search',
                ]
            }

            static get styles() {
                return css `
                div:not(.block){
                    display:inline-block;
                }

                .ram-widget-background{
                    width:100%;
                    height:920px;
                    background:#efefef;
                    text-align: center;
                }

                .ram-container{
                    width:1800px;
                    min-width: 1700px;
                    margin-top: 130px;
                }
                
                .ram-widget-left,.ram-widget-right{
                    float:left;
                    width:750px;
                }

                
                .ram-widget-right{
                    width: 950px;
                    height: 580px;
                    background: white;
                    border: 1px solid rgb(206, 206, 206);
                    margin-top: 30px;
                }

                .ram-widget-container{
                    margin-top: 55px;
                }

                :host h1{
                    color: rgb(14, 14, 14);
                    margin: 30px 0px 0px;
                    font-size: 6.4em;
                    font-family: Staatliches;
                    -webkit-user-select: none; 
                    background: linear-gradient(to right, #12c2e9, #c471ed, #f64f59);
                    -webkit-background-clip: text;
                    -webkit-text-fill-color: transparent; 
                    transition: 0.7s;
                    display:inline-block;
                    background-size:200%;
                }

                :host h1:hover{
                    background-position-x: 100%;
                }
                :host h6{
                    display:inline-block;
                    margin:0px;
                    font-size:1.6em;
                    -webkit-user-select: none; 
                    background: linear-gradient(to right, #12c2e9, #c471ed, #f64f59);
                    background-size:150%;
                    opacity:0.7;
                    -webkit-background-clip: text;
                    -webkit-text-fill-color: transparent; 
                }

                :host input{
                    border: 1px solid #d6d6d6;
                    border-radius: 5px;
                    height: 23px;
                    width: 81%;
                }

                .test{
                    width:50px;
                    height:50px;
                    background:red;
                    margin-top:50px;
                }

                .t{
                    background:blue;
                    width:100px;
                    height:200px;
                }
                `;
            }

            test = () =>{
                console.log(this);
            }

            render() {
                return html `<div class='ram-widget-background'>
                    <span><a href='../../index.html'>메인메뉴로 돌아가기 임시</a><span>
                    <div class='ram-container'>
                        <div class='ram-widget-left'>
                            <h1>ram-widget-test</h1>
                            <div class='block'>
                                <h6>select Widget</h6>
                            </div>
                            <div class='ram-widget-container'>
                                ${this.componentList.map(com=>{
                                    return html `<div clas='testdiv widgetNm=${com} @click="${this.test}' ><ram-widget-title-element widgetNm=${com} "></ram-widget-title-element></ clas='testdiv' >`
                                })}
                            </div>
                        </div>
                        <div class='ram-widget-right'>
                            <ram-tab .tabName="${this.tabName}">
                                ${this.tabName.map(data=>{
                                    return html`<span slot =${data}>${data}</span>`
                                })}
                            </ram-tab>
                        </div>
                    </div>
                </div>`;
            }

        }

        customElements.define('ram-widget-page', MyElement);
    </script>
</head>
<body>
    <ram-widget-page />

</body>

<style>
    @import url('https://fonts.googleapis.com/css2?family=Staatliches&family=Pirata+One&family=Do+Hyeon&family=Noto+Sans+KR:wght@100;300;400;500;700;900&display=swap');
</style>
</html>