#keypad_div {
	width:100%;
	font-family:"Helvetica Neue","Helvetica",Arial,sans-serif;
	color :#000;
}
.phoneUl {
	margin-left:1%;
	padding:0;
	height:100%;
}
.phoneLi, .phoneLi_2{
	text-align: center;
    float: left;
    list-style: none;
    width: calc(23% - 6px);
    background-color: #f8f9fb;
    border-radius: 10%;
    margin: 8px 3px 0px 3px
}
.phoneLi_2{
	width:27%;
	background-color :#f8f9fb;
	font-size:20px;
	font-weight:bold;
}
.phoneTable {
	margin:0;
	padding:0;
	background-color :#e8e8e8;
	padding: 2px 1px 5px 1px;
	width:100%;
}
.phoneTable tr {
	margin:0;
	padding:0;
}
.phoneTable tr td {
	margin:0;
	padding:0;
}

.m-numBtn{
	font-size:30px;
	font-weight: bold;
	height:50px;
	width:100%;
	border-radius: 3px;
	box-shadow: 2px 1px darkgrey;
}

#key12 .m-numBtn{
	font-size:22px;
	letter-spacing: -2px;
}

#key14 .m-numBtn{
	background:url(./image/icon_num_erase.png) no-repeat center center;
} 

#key13 .m-numBtn {
	font-size:25px;
	background-color: #df5539;
	color: #ffffff;
}

/* 영문키패드 */
#engNumkeypad_div {
	width:100%;
	font-family:"Helvetica Neue","Helvetica",Arial,sans-serif;
	color :#000000;
}
#upper_keypad,#lower_keypad {
	width:100%;
}
.engNumUpperPadUl, .engNumLowerPadUl {
	margin:0;
	padding:0;
	height:100%;
}


.engNumUpperPadUl_1, .engNumLowerPadUl_1 {
	margin:0;
	padding:0;
}
.engNumUpperPadLi_1, .engNumLowerPadLi_1, .engNumUpperPadLi_2, .engNumLowerPadLi_2,  .engNumUpperPadLi_3, .engNumLowerPadLi_3, .engNumUpperPadLi, .engNumLowerPadLi {
	text-align: center;
    float: left;
    list-style: none;
    width: calc(10% - 8px);
    background-color: #f8f9fb;
    font-size: 20px;
    border-radius: 3px;
    margin: 4px;
}

/* 영어키보드 */
.engNumUpperPadLi_2, .engNumLowerPadLi_2 {

}
.engNumUpperPadLi_3, .engNumLowerPadLi_3 {
	
}
.upperTable, .lowerTable {
	border-collapse:collapse;
}
.upperTable tr, .lowerTable tr {
	margin:0;
	padding:0;
}
.upperTable tr td, .lowerTable tr td {
	margin:0;
	padding:0;
}

.m-engNumBtn{
    font-size: 20px;
    height: 45px;
    width: 100%;
    box-shadow: 2px 1px darkgrey;
    border-radius: 3px;
    font-weight: bold;
}

.engNumUpperPadLi_2 .m-engNumBtn{
	font-size: 18px;
	letter-spacing: -2px;
}

.engNumUpperPadLi_3 .m-engNumBtn, .engNumLowerPadLi_3 .m-engNumBtn{
	font-size: 18px;
	letter-spacing: -2px;
	background-color: #df5539;
	color: #ffffff;
}

#l_key_Shift_left .m-engNumBtn{
	background:url(./image/icon_arrow_on.png) no-repeat center center #3686cf;
}

#u_key_Shift_left .m-engNumBtn{
	background:url(./image/icon_arrow.png) no-repeat center center;
}

#u_key_Shift_right .m-engNumBtn, #l_key_Shift_right .m-engNumBtn{
	background:url(./image/icon_erase.png) no-repeat center center;
}

/* .m-engNumBtn{ */
/* 	-webkit-tap-highlight-color:#3785cf; */
/* } */