@charset "utf-8";

/* Positioning
================================== */
/* float */
.tab-header ul > li{
	float:left;
}
/* float-clear */
.tab-header-wrap:after, .tab-header ul:after{
	content:"";
	display:block;
	height:0;
	clear:both;
	visibility:hidden;
}

/* Panel
================================== */
/* tab-pnl */
.tab-pnl{	
	
}
main > section > div:first-child.tab-pnl, main > div:first-child.tab-pnl{
	
}
.caption-pnl + .tab-pnl, .empty-pnl + .tab-pnl{
	margin-top:5px;
}
.colgroup-wrap > div[class^=colgroup-] > .tab-pnl{
	margin-top:0;
}
.colgroup-wrap + .tab-pnl{
	margin-top:5px;
}
/* tab-header */
.tab-header-wrap{
	overflow:hidden;
}
.tab-header{
	overflow:hidden;	
}
.tab-header ul{
	list-style:none;
	float:left;
	background:#e6e6e6;
	width:calc(100% - 20px) !important;
	width: -webkit-calc(100vw - 20px) !important;
    width: -moz-calc(100vw - 20px) !important;
    width: calc(100vw - 20px) !important;
    margin-left:10px;
}
.tab-header ul li{
}
.tab-pnl[data-li="2"] .tab-header ul li{
	width:calc(100%/2);
}
.tab-pnl[data-li="3"] .tab-header ul li{
	width:calc(100%/3);
}
.tab-pnl[data-li="4"] .tab-header ul li{
	width:calc(100%/4);
}
.tab-pnl[data-li="5"] .tab-header ul li{
	width:calc(100%/5);
}
.tab-pnl[data-li="6"] .tab-header ul li{
	width:calc(100%/6);
}
.tab-pnl[data-li="7"] .tab-header ul li{
	width:calc(100%/7);
}
.tab-header ul li span{
	cursor:default;
	font-weight:bold;
	text-align:center;
	display:block;
	min-height:18px;    
    font-size:12px;
    border-top-color:transparent;
    border-bottom-color:#0a5ca9;
	border-width:2px 0 1px;
    border-style:solid;
    background:#e6e6e6;
    color:#929292;
    padding-top:5px;
    padding-bottom:5px;
}
.tab-header ul + .buttonset.fl{
	margin-left:5px;
} 
.tab-header li + li{

}
/* tab-body */
.tab-body{
	overflow:auto;
	overflow-x:hidden;
	padding:5px;	
	margin:0 10px;
	background:#ffffff;
}
.tab-body .table-pnl, 
.tab-body .grid-pnl, .tab-body .gridu-pnl, 
.tab-body .empty-pnl, 
.tab-body .caption-pnl, 
.tab-body .guidance-message-pnl{
	margin:5px;
}
.tab-body .tab-content{
	width:100%;
	height:100%;
	overflow:auto;
	overflow-x:hidden;
}
.tab-body .tab-pnl:first-child{
	margin:0;
	margin-top:5px;
	margin-bottom:5px;
}
.tab-body .tab-pnl{
	margin:0;
	margin-top:10px
}
.tab-body .tab-pnl .tab-header li.state-current span{
	color:#ffffff;
    background:#447acb;
    border-color:#447acb;
}
.tab-body .tab-pnl .tab-body{
	padding:0;
	border-width:1px 0;
	border-color:#447acb;
}
.tab-body .tab-pnl .tab-body .caption-pnl:first-child, .tab-body .tab-pnl .tab-body .empty-pnl:first-child{
    margin-top:5px;
}
.tab-body .tab-pnl.position-left .tab-body, .tab-body .tab-pnl.position-right .tab-body{
	border-width:1px;
}
.tab-body section > .search, .tab-body .search{
	margin:0 5px;
	border-width:1px;
}
.tab-body section + .tab-pnl{
	margin-top:5px;
	margin-bottom:5px;
}
.tab-body .search + section .caption-pnl:first-child, .tab-body .search + section .empty-pnl:first-child{
	margin-top:5px;
}
.tab-body .search + div.table-pnl, .tab-body .search + div.gridx-pnl{
	margin-top:10px;
	margin-top:5px;
}
.tab-body div.state-hide + .table-pnl, .tab-body div.state-hide + .gridx-pnl{
    margin-top:10px;
	margin-top:5px;
}

header div.closable-pnl + main div.tab-pnl{
	margin-top:0 !important;
}
/* x-tab-scrolling */
.x-tab-scrolling > .tab-header-wrap:first-child .tab-header, .x-tab-scrolling > .tab-header-wrap:first-child .tab-header ul{
	margin-right:22px;
	padding-left:0;
}
.x-tab-scrolling [class^=tab-scroller-]{
	width:20px;
	height:20px;
	top:4px !important;
	cursor:pointer;
	background-image:url(./image/de-icons.png);
    background-repeat:no-repeat;
    background-position-y:-76px;
    background-color:#1f52b1;
    border-radius:15px;
}
.tab-scroller-right + .tab-header{
	margin-left:2px !important;
}
.tab-scroller-left + .tab-scroller-right{
	margin-right:2px !important;
}
.x-tab-scrolling .tab-scroller-left{
	float:left;
	background-position-x:-608px;
	margin-right:2px !important;
}
.x-tab-scrolling .tab-scroller-right{
	position:absolute;
	right:0;
	background-position-x:-628px;
}
.x-tab-scrolling .tab-scroller-left.state-hover{

}
.x-tab-scrolling .tab-scroller-right.state-hover{

}
.x-tab-scrolling .tab-scroller-left.state-disabled{
	background-position-x:-568px;
    background-color:#f0f0f0;
}
.x-tab-scrolling .tab-scroller-right.state-disabled{
	background-position-x:-588px;
    background-color:#f0f0f0;
}

/* State
================================== */
.tab-header li.state-hover span{
	color:#264ba0;
	cursor:pointer;
}
.tab-header li.state-current span{
	cursor:pointer;
	display:block;
	z-index:1;	
	background:#ffffff;
	color:#0a5ca9;
	border-top-color:#264ba0;
	border-bottom-color:#ffffff;
}

/* Left - Tab
================================== */
.position-left > .tab-header-wrap > .tab-header > ul > li{
    float:none;
}
.position-left > .tab-header-wrap{
    margin-top:0px;
    float:left;
}
.position-left > .tab-header-wrap > .tab-header span{
    width:50px;
    padding:10px;
    border-width:1px 0 1px 2px;
    -moz-border-radius:3px 0 0 3px;
	-webkit-border-radius:3px 0 0 3px;
	border-radius:3px 0 0 3px;
	right:-1px;	
}
.position-left > .tab-header-wrap > .tab-header li + li{
	margin-top:1px;
}
.position-left > .tab-header-wrap > .tab-header li.state-current span{
    z-index:1;
}
.position-left .tab-header li + li, .position-right .tab-header li + li{
	margin-left:0;
	margin-top:-1px;
}
.position-left > .tab-body{
    top:0;
    left:-1px;
}

/* Right - Tab header
================================== */
.position-right > .tab-header-wrap > .tab-header > ul > li{
    float:none;
}
.position-right > .tab-header-wrap{
    margin-top:0px;
    float:right;
}
.position-right > .tab-header-wrap > .tab-header span{
    width:50px;
    padding:10px;
    border-width:1px 2px 1px 0;
    -moz-border-radius:0 3px 3px 0;
	-webkit-border-radius:0 3px 3px 0;
	border-radius:0 3px 3px 0;
}
.position-right > .tab-header-wrap > .tab-header li + li{
	margin-top:1px;
}
.position-right > .tab-header-wrap > .tab-header li.state-current span{
    z-index:1;
}
.position-right .tab-header li:first-child span, .position-right .tab-header li:first-child.state-hover span, .position-right .tab-header li:first-child.state-current span{	
	border-top-right-radius:5px;
	border-top-left-radius:0;
}
.position-right .tab-header li:last-child span, .position-right .tab-header li:last-child.state-hover span, .position-right .tab-header li:last-child.state-current span{	
	border-bottom-right-radius:5px;
	border-top-left-radius:0;
}
.position-right > .tab-body{
    top:0;
    right:-1px;
}

/* Bottom - Tab header
================================== */
.position-bottom > .tab-header-wrap  {
    bottom:0;
	position:absolute;
}
.position-bottom{
    padding-bottom:27px;
	background:none; 
}
.position-bottom > .tab-header-wrap > .tab-header span{    
    border-width:0 1px 2px 1px;
    -moz-border-radius:0 0 3px 3px;
	-webkit-border-radius:0 0 3px 3px;
	border-radius:0 0 3px 3px;
}
.position-bottom > .tab-header-wrap > .tab-header li.state-hover span{
	
}
.position-bottom > .tab-header-wrap > .tab-header li.state-current span{
	z-index:1;
}
.position-bottom > .tab-body{
	top:0;
}

/* RWD
================================== */
/* < 960 */
@media only screen and (max-width: 959px){
	.tab-header span{
		
	}
	.tab-header li.state-current span{
		
	}
	/* x-tab-scrolling */
	.x-tab-scrolling > .tab-header-wrap:first-child .tab-header, .x-tab-scrolling > .tab-header-wrap:first-child .tab-header ul{
		margin-right:31px;
		padding-left:0;
	}
	.x-tab-scrolling .tab-scroller-left{
		float:left;
		width:30px;
		height:1.92em;
		cursor:pointer;
		background:url(./image/tab-scroll-icons.png) no-repeat scroll -168px 0 transparent;
		margin-right:1px;
	}
	.x-tab-scrolling .tab-scroller-right{
		position:absolute;
		top:0;
		right:0;
		width:30px;
		height:1.92em;
		cursor:pointer;
		background:url(./image/tab-scroll-icons.png) no-repeat scroll -198px 0 transparent;
	}
	.x-tab-scrolling .tab-scroller-left.state-hover{
		background-position:-108px 0;
	}
	.x-tab-scrolling .tab-scroller-right.state-hover{
		background-position:-258px 0;
	}
	.x-tab-scrolling .tab-scroller-left.state-disabled{
		background-position: -138px 0;
	}
	.x-tab-scrolling .tab-scroller-right.state-disabled{
		background-position: -228px 0;
	}
}