.treeview-pnl{
	overflow:auto;
	margin:5px;
	padding:0 5px;
	border:1px solid #b2c3d9;
	background:#ffffff;
	-moz-border-radius:3px;
	-webkit-border-radius:3px;
	border-radius:3px;
	-webkit-user-select:none;
	-khtml-user-select:none;
	-moz-user-select:none;
	-o-user-select:none;
	user-select:none;
	-ms-user-select:none;
	-webkit-touch-callout:none;
}
.inner-treeview-pnl{
	overflow:auto;
	padding:10px 0;
}
.treeview-pnl ul{
	list-style-type:none;
	vertical-align:middle;
}
.treeview-pnl input[type=checkbox]{
	margin-left:3px;
}
.treeview-pnl li{
	background:url(./image/treeview-line.png) no-repeat;
	position:relative;
	vertical-align:middle;
	white-space:nowrap;
	left:0px;
	list-style: none;
}
.treeview-pnl li ul li ul li{
	margin-left:18px;
}
.treeview-pnl li.last{
	background:url(./image/treeview-bottom.png) no-repeat;
	position:relative;
	vertical-align:middle;
}
.treeview-pnl #root{
	background:none !important;
	position:relative;
	vertical-align:middle;
}
.treeview-pnl img{
	margin:0 0 0 2px;
	vertical-align:middle;
}
.treeview-pnl span{
	cursor:pointer;
	top:2px;
	left:3px;
	vertical-align:middle;
	line-height:1.6em;	
}
.treeview-pnl span:hover{
	color:#1477CE;
}
.treeview-pnl button{
	border:0 none;
	color:#ffffff;
	cursor:pointer;
	font-size:0px;
	overflow:hidden;
	vertical-align:middle;
	height:20px;
	width:20px;
}	
.treeview-pnl button.plus{
	background:url(./image/treeview-plus.png) no-repeat;
}
.treeview-pnl button.minus{
	background:url(./image/treeview-minus.png) no-repeat;
}
.treeview-pnl button.plus-bottom{
	background:url(./image/treeview-plusbottom.png) no-repeat;
}
.treeview-pnl button.minus-bottom{
	background:url(./image/treeview-minusbottom.png) no-repeat;
}
.treeview-pnl button.plus-top{

}
.treeview-pnl button.minus-top{

}
.treeview-pnl button.last{
	background:url(./image/treeview-bottom.png) no-repeat;
}
.search-condition {
	overflow:hidden;
	padding:10px 0;
}
.search-condition button#search {
	border:1px solid #662222 !important;
	font-size:12px !important;
	color:#000000 !important;
	vertical-align:middle !important;
	overflow:auto !important;
	width:40px !important;
	margin:0px 5px 0px 5px;
}
.search-condition button {
	border:1px solid #662222 !important;
	font-size:12px !important;
	color: #000000 !important;
	vertical-align:middle !important;
	overflow:auto !important;
	margin-left:5px !important;
	width:20px;
}
.treeview-pnl {
	-webkit-user-select:none;
	-khtml-user-select:none;
	-moz-user-select:none;
	-o-user-select:none;
	user-select:none;
	-ms-user-select:none;
	-webkit-touch-callout:none;
}